/* =================================================================== */
/* RED #ff0000
====================================================================== */
.text-accent,
.text-accent-hover:hover,
#menuToggle .active,
#menu li.active a {
	color: #ff0000;
}
.bg-accent,
.bg-accent-hover:hover,
.social-item:hover,
.line:before,
h1:before,
.header ul.icon-menu li.desktop-nav-element.active, .header ul.icon-menu li.desktop-nav-element:hover,
.header .desktop-nav-element h2,
.button:before{
	background-color: #ff0000;
}
.revealer__layer:nth-child(2) {
	background: #ff0000 !important;
}
#contact input[type=text]:focus,
#contact input[type=email]:focus,
#contact textarea:focus,
.button{
	border: 1px solid #ff0000;
}
.post-thumb {
	border-bottom: 5px solid #ff0000;
}
.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
	border: 0.08em solid #ff0000;
}